html { 
    margin:0;
    padding:0;
    background: url('https://upload.wikimedia.org/wikipedia/commons/9/9c/Under_Construction_-_Weaver_Bird.jpg') no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }

  .footer {
    position: absolute;
    bottom: 0;
    }

h3{
      text-align:center;
      left: 37%;
      font-style:italic;
      color: rgb(192, 11, 11);
      font-size:2em;
  }